

$colour_one: #FFE181;

.angular-google-map-container { height: 400px; }

@mixin mega-button {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 1em;
  text-transform: uppercase;
  font-family: "brandon-grotesque";
  background: $colour_one;
}

a.mega-button, button.mega-button {
  @include mega-button;
  color: #fff;
}

footer#colophon {
  padding: 3em 0;
  background: #222;
}




@import 'partials/header';
@import 'partials/homepage';
@import 'partials/forms';
