<p ng-show="user.id">
  <a ng-href="/#/">Take me home!</a>
</p>

<section ng-show="user.id">

  <div class="submitSkillstoSearch" ng-Controller = "addSkillsController as addCtrl" ng-init = "addCtrl.getSkillsList()">
      <section ng-repeat ='skill in addCtrl.skills'>
        <input type = "checkbox" ng-model = "addCtrl.skill"> select {{skill.name}} </input>
      </section>
      <button ng-click = "addCtrl.submit"> Submit! <submit>
  </div>

  <!-- <div class="skillsSearchBar" ng-hide="loaded">
    <button id="skillSearchSubmit" ng-click="SearchCtrl.getUsersSkills()">Search Skills</button></a>
  </div> -->

</section>
