<p ng-show="user.id">
  <a ng-href="/#/">Take me home!</a>
</p>

<section ng-show="user.id">

  <div class="submitSkillstoSearch" ng-Controller = "searchController as SearchCtrl" ng-init = "SearchCtrl.getSkillsList()">
      <section ng-repeat ='skill in SearchCtrl.skills'>
        <button ng-click = "SearchCtrl.saveSkills(skill)"> select {{skill.name}} </button>
      </section>
  </div>

  <!-- <div class="skillsSearchBar" ng-hide="loaded">
    <button id="skillSearchSubmit" ng-click="SearchCtrl.getUsersSkills()">Search Skills</button></a>
  </div> -->

</section>
