
header#masthead {
  background-color: $colour_one;
  padding: 1em 0;
  border-bottom: 3px solid #fff;

  #site-title {
    float: left;
    width: 25%;
    h2 a {
      color: $colour_two;
    }
  }

  nav#main-nav {
    float: right;
    width: 75%;
    text-align: right;
    div {
      display: inline-block;
      a {
        font-size: 0.75em;
      }
    }
  }

}
