

section#inbox.section {
  h2 {
    margin-bottom: 1.5em;
  }
  .conversations {
    text-align: right;
  }
  .message-content {
    text-align: left;
    margin: 0 0 2em 2em;
    padding-bottom: 1.5em;
    display: block;
    position: relative;
    p {
      font-size: 1.2em;
    }
    .meta {
      p {
        font-size: 1em;
        color: $colour_three;
      }
    }
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 30%;
      height: 2px;
      content: "";
      background: $colour_two
    }
    &:last-child:after {
      // background: none;
    }
  }
}

section#send-message {
  h2 {
    margin: 0 0 1.5em 0;
  }
}
