
<section id="inbox" class="section">

  <div class="row">
    <div class="small-12 medium-8 medium-centered columns">
      <h2>Your current conversations</h2>
    </div>
    <!-- /.small-12 medium-8 medium-centered columns -->
  </div>
  <!-- /.row -->


  <div class="row">

  <div ng-controller="mailboxController as mailCtrl" ng-init="mailCtrl.getMailbox()">

    <div class="small-12 medium-4 columns">

      <div class="conversations">

         <div ng-repeat='conv in mailCtrl.conversations'>
           <button class="mega-button" ng-click="mailCtrl.getMessages(conv)"> {{conv.subject}} </button>
         </div>

         <div class='job-request' ng-show ="mailCtrl.isCurrentUserRequesting" >
           <button class="job-button mega-button" ng-click = "mailCtrl.createJob()">Request Job</button>
           <input type="text">Time:</input>
         </div>

         <div class='job-response' ng-hide ="mailCtrl.isCurrentuserRequesting">
           <button class="humble-button">Accept Job</button>
           <button class="humble-button">Decline Job</button>
         </div>

      </div>

    </div>

    <div class="small-12 medium-8 columns">

      <div class="messages">

       <div ng-repeat="message in mailCtrl.messages">

         <div class="message-content">

            <p>{{ message.body }}</p>

            <div class="meta">
              <p>Sent by {{ message.user.name }} on {{ message.created_at | dateToISO | date:'medium' }}</p>
            </div>

            <a class="humble-button" ng-hide="mailCtrl.isMyMessage(message.user.id)" ng-href="/#/message-reply" ng-click="mailCtrl.setConversationId()">Reply to message</a>

         </div>

       </div>

     </div>

   </div>

  </div>

  </div>

</section>
