<section id="form" class="section">

  <div class="row">
    <div class="small-12 medium-8 medium-centered columns">
      <h2>Register</h2>
    </div>
    <!-- /.small-12 medium-8 medium-centered columns -->
  </div>
  <!-- /.row -->

  <div class="row">

    <div class="small-12 medium-8 medium-centered columns">

      <form ng-Controller="UserRegistrationsCtrl as UserCtrl" ng-submit="UserCtrl.handleRegBtnClick()" role="form" ng-init="registrationForm = {}">

        <div class="form-group">
          <label for="name">Name</label>
          <input type="name"
                 name="name"
                 id="name"
                 ng-model="UserCtrl.registrationForm.name"
                 required="required"
                 class="form-control">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email"
                 name="email"
                 id="email"
                 ng-model="UserCtrl.registrationForm.email"
                 required="required"
                 class="form-control">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password"
             name="password"
             id="password"
             ng-model="UserCtrl.registrationForm.password"
             required="required"
             class="form-control">
        </div>

        <div class="form-group">
          <label for="password_confirmation">Password confirmation</label>
          <input type="password"
                 name="password_confirmation"
                 id="password_confirmation"
                 ng-model="UserCtrl.registrationForm.password_confirmation"
                 required="required"
                 class="form-control">
        </div>

        <div class="form-group">
          <input type="hidden"
                 name="location"
                 id="location"
                 ng-model="UserCtrl.registrationForm.location"
                 class="form-control">
        </div>

        <div class="form-group">
          <input type="hidden"
                 name="longitude"
                 id="longitude"
                 ng-model="UserCtrl.registrationForm.longitude"
                 class="form-control">
        </div>

        <div class="form-group">
          <input type="hidden"
                 name="latitude"
                 id="latitude"
                 ng-model="UserCtrl.registrationForm.latitude"
                 class="form-control">
        </div>

        <script type="text/ng-template" id="searchbox.tpl.html">
          <input type="text" placeholder="Search Box" required="required">
        </script>

        <label for="location">The area you live in</label>
        <ui-gmap-google-map center='UserCtrl.locationPicker.map.center' zoom='UserCtrl.locationPicker.map.zoom' options='UserCtrl.locationPicker.map.options'>
        <ui-gmap-search-box
          template="UserCtrl.locationPicker.searchbox.template"
          events="UserCtrl.locationPicker.searchbox.events"
          position="BOTTOM_RIGHT">
        </ui-gmap-search-box>
        </ui-gmap-google-map>

        <button type="submit" class="mega-button">Register</button>

        <div class="alert alert-danger" role="alert" ng-show="error">
          {{error}}
        </div>

      </form>

    </div>

  </div>

</section>
